.login-box {
    -fx-background-color: #e67e22;      
    -fx-padding: 25;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.2, 0, 4);
}

.btn-orange {
    -fx-background-color: #e67e22;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 20;
    -fx-padding: 8 22;
    -fx-font-weight: bold;
}

.btn-orange:hover {
    -fx-background-color: #d35400;
}

.input {
    -fx-background-color: white;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-padding: 8;
    -fx-border-color: transparent;
}

.title-bold {
    -fx-font-weight: bold;
}

.orange-background {
    -fx-background-color: #e67e22;  
}

.btn-orange-small {
    -fx-background-color: #d35400;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 12;
    -fx-padding: 4 10;
}
.btn-orange-small:hover {
    -fx-background-color: #e67e22;
}

.filter-bar {
    -fx-background-color: #f39c12; 
    -fx-padding: 15;
}

.top-orange-section {
    -fx-background-color: #FFA500; 
}

.yellow-background {
    -fx-background: #FFE066; 
}

.scroll-pane .viewport {
    -fx-background-color: #fff3b0;
}

.table-view .check-box {
    -fx-padding: 0 0 0 6;
}

.table-view .check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: #4da3ff;
    -fx-border-radius: 3;
    -fx-border-width: 1.5;
}

.table-view .check-box:selected .box {
    -fx-background-color: #4da3ff;
    -fx-border-color: #4da3ff;
}

.table-view .check-box:selected .mark {
    -fx-background-color: white;
}

.table-view .check-box:hover .box {
    -fx-border-color: #6fb6ff;
}

.info-bubble {
    -fx-background-color: white;          /* ⬅ άσπρο συννεφάκι */
    -fx-text-fill: #111111;               /* ⬅ μαύρα γράμματα */

    -fx-padding: 16 22 16 22;
    -fx-background-radius: 14;

    -fx-font-size: 16px;                  /* ευανάγνωστο */
    -fx-font-weight: 600;                 /* καθαρό & σοβαρό */
    -fx-line-spacing: 1.25;

    -fx-border-color: #dddddd;             /* λεπτό περίγραμμα */
    -fx-border-width: 1;
    -fx-border-radius: 14;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.18),
        12,
        0.3,
        0,
        4
    );
}


